@import url("top.less");
@import url("bottom.less");

.nivel{
    text-align: center;
    background-color: #4A86E8;
    padding-top: 10px;
    padding-bottom: 20px;
    p{
        font-weight: 900;
        color: #fff;
    }
    &-nums{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    &-num{
        height: 20px;
        width: 15px;
        background-color: #EFEFEF;
        margin-right: 10px;
        padding: 10px;
        line-height: 25px;
        text-align: center;
        border-radius: 5px;
        font-weight: 900;
    }
}

.main-row{
    display: flex;
    flex-flow: row nowrap;
    .perfil{
        flex-basis: 30%;
        background: linear-gradient(0deg, rgba(32,18,77,1) 0%,
         rgba(32,18,77,1) 70%,
         rgba(94,43,151,1) 70%,
         rgba(94,43,151,1) 100%);
        margin: 20px 40px;
        border-radius: 30px;
        &-foto{
            background-image: url(/img/eu1.jpg);
            background-size: 100%;
            height: 250px;
            width: 250px;
            border-radius: 100%;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            margin-top: 20px;
        }
        &-info{ 
            p{
                color: #fff;
                text-align: center;
                margin: 0px;
            }
            .nick{
                font-size: 25px;
                margin-top: 30px;
            }
            .email{
                font-size: 14px;
                margin-top: 5px;
                margin-bottom: 40px;
            }
        }
        &-edit{
            button{
                width: 100px;
                background: linear-gradient(180deg, rgba(255,255,255,1) 0%,
                rgba(255,255,255,1) 50%,
                rgba(255,255,255,0) 50%,
                rgba(255,255,255,0) 100%);
                border: none;
                border-radius: 100%;
                height: 100px;
                position: relative;
                bottom: -50px;
                left: 50%;
                transform: translate(-50%);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                cursor: pointer;
                &:focus{
                    outline: none;
                }
            }
            i {
                margin-bottom: 35%;
                color: #20124D;
            }
        }
    }
}
.conquistas{
    h1{
        font-weight: 900;
        font-size: 35px;
        color: #20124D;
        margin-bottom: 0;
    }
    hr{
        border: 1px solid #20124D;
        width: 20%;
        margin-left: 0;
    
    }
    button{
        background: none;
        border: none;
        text-transform: uppercase;
        color: #20124D;
        font-weight: 900;
        cursor: pointer;
    }
    .emblemas{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 10px;
        perspective: 1000;
        .emb{
            flex-basis: 30%;
            i{
                color: #5E2B97;
                margin: 10px;
                transition: opacity 1s ease-in;
            }
            p{
                display: none;
                opacity: 0;
                width: 60%;
                position: relative;
                bottom: 50%;
                margin: 0;
                transition: opacity 1s ease-out;
            }
            span{
                margin: 0;
                font-weight: 900;
            }
            &:hover{
                p{
                    display: block;
                    opacity:1;
                }
                i{
                    opacity: 0;
                }
            }
        }
    }
} 
