@import url("top.less");
@import url("bottom.less");

.bemv{
    display: flex;
    flex-flow: row ;
    &-text{
        width: 60%;
        margin: 20px;
        font-size: 21px;
        #how{
            margin: 0px 0px 50px 0px;
            padding: 0;
        }
    }
    &-fig{
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 30%;
  
        &-1{    
            background-image: url("/img/excla.png");
            background-size: cover;
            background-position: center;
            width: 200px;
            height: 200px;
            border-radius: 100%;
            position: sticky;
            top: 0;
            cursor: pointer;
            transition: 1.5s;
            &:hover{
                opacity: 0.8;
            }
        }
        &-2{
            background-image: url("/img/inter.png");
            background-size: cover;
            background-position: center;
            width: 200px;
            height: 200px;
            border-radius: 100%;
            position: sticky;
            top: 200px;
            cursor: pointer;
            transition: 1.5s;
            &:hover{
                opacity: 0.8;
            }
        }
        
    }  
    &-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 27px;
        font-weight: 900;
        color: #fff;
        background-color: #4A86E8;
        border: 3px solid #3a6bb9;
        border-radius: 999px;
        width: 200px;
        height: 70px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        cursor: pointer;
    } 
}